@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hiker's Connection</h1>
    <p class="lead">Hiker's Connection is a free web application for hikers to  schedule group hikes 
    and explore New Hampshire trails.</p>
    <p> Hiker's Connection is a HikersOasis project.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You have to create a free Hiker's Connection account to create new hikes.
        </p>
        <p><a class="btn btn-default" href="http://localhost:50323/Account/Register">Create a new account &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:50323/Account/Login">Log In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View upcoming hikes</h2>
        <p>You can view the hikes that are scheduled in the near furure. You can also search for hikes matching your criteria</p>
        <p><a class="btn btn-default" href="http://localhost:50323/Hikes">View Upcoming hikes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trail Listing</h2>
        <p>You can easily add or find an trail that suits your mood...</p>
        <p><a class="btn btn-default" href="http://localhost:50323/Trails">View Trails &raquo;</a></p>
    </div>
</div>